/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 25px;
    align-items: center;
    align-content: center;
    align-self: center;
}

h1, h2 {
    color: #333;
    text-align: center;
    text-size-adjust: auto;
}

p {
    color: #333;
    text-align: center;
    text-size-adjust: auto;   
}
a {
    
    text-align: center;
    text-size-adjust: auto;   
}

table {
    width: 30%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

div {
    align-self: center;
    align-content: center;

}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 5px;
    align-items: center;
}
.contenedor {
    /* position:relative; */
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.imagen {
   
    width: auto;
    height: 250px;

}
img {
    display: block;
    margin-top: 50px;
    align-items: center;
}
.foto {
    display: block;
    margin-top: 50px;
    align-items: center;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.myOption {
    font-size: 50px;
    initial-value: "Selecciona una persona";

}
select {
    width: 200px;
}


.desplegable {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 2px; 
    font-size: 30px;
}   
    

.boton1 {
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 2px 2px 2px #888888; /* Sombra */
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espacio interno */
  text-align: center; /* Alineación del texto */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */ 
}