/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 25px;
}

h1, h2 {
    color: #333;
}

table {
    width: 30%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
.contenedor {
    position: relative;
    width: 50%;
}

.imagen {
    width: 150px;
    height: auto;
}
img {
    display: block;
    margin-top: 20px;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.myOption {
    font-size: 40px;
}